/* window.css */
body {
    background-color: #302619;
    margin: 0;
    position: relative;
    min-height: 100vh;
    color: #FEA413;
    font-family: "VT323", monospace;
    font-weight: 400;
    font-style: normal;
}

/* Terminal Input Wrapper */
.terminal-input-wrapper {
    display: flex;
    align-items: center;
    padding: 5px;
    position: relative;
}

/* Prompt Symbol */
.prompt-symbol {
    font-family: "VT323", monospace;
    margin-right: 8px;
}

/* Terminal Input */
.terminal-input {
    background-color: transparent;
    border: none;
    outline: none;
    color: #FEA413;
    font-family: "VT323", monospace;
    font-size: 1rem;
    flex-grow: 1;
    caret-color: transparent;
}

/* Spilt Screen */
.split-screen {
    flex: 1;
    padding: 40px;
    box-sizing: border-box;
    overflow-y: auto;
}

/* left side of the screen */
.left-screen {
    width: 50%;
    padding: 20px;
    box-sizing: border-box;
    overflow-y: auto;
}


/* right side of the screen */
.right-screen {
    width: 50%;
    padding: 20px;
    box-sizing: border-box;
    overflow-y: auto;
}